{% extends 'base.html' %} 

{% block header %}
    <h5>{% block title %}Summaries / Notes in Genre : {{ tag }}{% endblock %}</h5>
    <h6 class="text-muted">Click on the titles to see details</h6>
    {% if g.user %}
        <button type="button" class="btn btn-success" style="margin: 5px;">
            <a style="text-decoration:none; color:inherit;" href="{{ url_for('manager.create') }}">New</a>
        </button>
    {% endif %} 
{% endblock %} 

{% block content %}
<div style="display: flex; gap: 1px; flex-wrap: wrap;">
    {% for note in notes %}
        <article class="card" style="width: 13rem;">
            <div class="card-body">
                <header>
                    <div>
                        <h5 class="card-title"><a style="text-decoration: none;" href="{{ url_for('manager.noteview', title=note['title']) }}">{{ note['title'] }}</a></h5>
                        <h6 class="card-subtitle mb-2">Genre : <span class="badge btn btn-warning"><a href="{{ url_for('manager.tagfilter', tag=note['tag']) }}" style="text-decoration: none;">{{ note['tag'] }}</a></span></h6>
                        <div class="about card-subtitle text-muted"><h6>Summary by {{ note['username'] }} on {{ note['created'].strftime('%Y-%m-%d') }}</h6></div>
                    </div>
                </header>
                {% if g.user['id'] == note['userid'] %}
                    <button type="button" class="btn btn-secondary">
                        <a class="card-link" style="text-decoration:none ; color: ivory;" href="{{ url_for('manager.update', id=note['id']) }}">Edit</a>
                    </button>
                {% endif %}
            </div>
        </article> 
    {% endfor %} 
</div>
{% endblock %} 