{% extends 'base.html' %} 

{% block header %} 
    <h5>{% block title %}Edit "{{ note['title'] }}"{% endblock %}</h5>
{% endblock %} 

{% block content %}
<form action="{{ url_for('manager.delete', id=note['id'], tag=tags) }}" method="post" style="margin-left: 15px; margin-bottom: 15px;">
    <input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure');">
</form>
<div class="card">
    <form method="post">
        <div class="card-header">
            Edit
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="text-align: center;">
                <label for="title">Title of the Book</label>
            </li>
            <li class="list-group-item" style="align-self: center;">
                <input name="title" id="title" value="{{ request.form['title'] or note['title'] }}" placeholder="Enter the name of the Book" required>
            </li>
            <li class="list-group-item" style="text-align: center;">
                <label for="body">Summary / Information</label>
            </li>
            <li class="list-group-item" style="align-self: center; min-width: 100%;">
                <textarea style="min-width: 100%;min-height: 10rem; align-self: center;max-width: 100%;" name="body" id="body" placeholder="What do you think about the book?">{{request.form['body'] or note['body']}}</textarea>
            </li>
            <li class="list-group-item">
                <label for="tags">Genre</label>
                <div class="btn-group"> 
                    <select class="btn btn-info" name="tags" id="tags">
                        <option value=1>Action and Adventure</option>
                        <option value=2>Classics</option>
                        <option value=3>Comic or Graphic Novel</option>
                        <option value=4>Detective and Mystery</option>
                        <option value=5>Fantasy</option>
                        <option value=6>Historical Fiction</option>
                        <option value=7>Horror</option>
                        <option value=8>Literary Fiction</option>
                        <option value=9>Romance</option>
                        <option value=10>Science Fiction</option>
                        <option value=11>Short Stories</option>
                        <option value=12>Suspense and Thrillers</option>
                        <option value=13>Women's Fiction</option>
                        <option value=14>Biography/Autobiography</option>
                        <option value=15>Cookbooks</option>
                        <option value=16>Essays</option>
                        <option value=17>History</option>
                        <option value=18>Memoir</option>
                        <option value=19>Poetry</option>
                        <option value=20>Self-Help</option>
                        <option value=21>True Crime</option>
                    </select>
                </div>
            </li>
            <li class="list-group-item">
                <input style="width: 5rem;" class="btn btn-outline-dark" type="submit" value="Save">
            </li>
        </ul>
    </form>
    <hr>
{% endblock %}
        