{% extends 'base.html' %}

{% block header %}
	{% block title %}{% endblock %}
{% endblock %}

{% block content %}
<div class="form card" style="width: 15rem; margin-left: auto; margin-right: auto;">
	<form method="post">
	<div style="text-align: center; width: 15rem;" class="card-header btn btn-success btn-lg disabled">
		Welcome back
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
		<label for="username">Username</label>
		</li>
		<li class="list-group-item">
		<input name="username" id="username" required>
		</li>
		<li class="list-group-item">
		<label for="password">Password</label>
		</li>
		<li class="list-group-item">
		<input type="password" name="password" id="password" required>
		</li>
		<li class="list-group-item" style="align-self: center;">
		<input class="btn btn-success" type="submit" value="Log In">
		</li>
	</ul>
	</form>
</div>
{% endblock %}